version: '2.1' 
services:
 zookeeper:
  image: oddpoet/zookeeper
  hostname: 138.68.168.237
  command:
    - "2181"
  ports:
    - "2181:2181"

 kafka:
  image: wurstmeister/kafka
  hostname: kafka
  ports:
    - "9092:9092"
  links: 
    - zookeeper:zk
  environment:
   KAFKA_ADVERTISED_HOST_NAME: 138.68.168.237
   KAFKA_ADVERTISED_PORT: 9092
   KAFKA_ZOOKEEPER_CONNECT: 138.68.168.237:2181

 hazelcast:
  build: .  
  #image: hazelcast/hazelcast
  hostname: hz
  ports:
   - "5701:5701"
  links:
    - zookeeper:zk
  environment:
    JAVA_OPTS: -Dhazelcast.config=hazelcast.xml
  #networks:
     # - default
     # - innovation_default

 trade-injector :
  image : dineshpillai/innovation-trade-injector:0.0.1-SNAPSHOT
  ports : 
   - "8090:8090"
  links :
   - mongo
   - kafka
  environment:
   kafka.bootstrap-servers: 138.68.168.237:9092
   spring.data.mongodb.host: 138.68.168.237
   spring.hazelcast.client.config: mu1-client-config.xml

 mongo:
  image : dineshpillai/mongo-db-repo
  ports :
   - "27017:27017"

#networks:
   # innovation_default:
      #external: true

