version: '2.1'
services:
 #jobmanager:
   # image: ${FLINK_DOCKER_IMAGE_NAME:-flink}
    #networks: ["vnet"]
    #hostname: jobmanager-1.vnet
    #expose:
     # - "6123"
    #links:
     # - zookeeper-1:zk
     # #- trade-imdg:ti
    #depends_on:
     # - zookeeper-1
    #ports:
     # - "8081:8081"
    #command: jobmanager
    #environment:
     # - JOB_MANAGER_RPC_ADDRESS=jobmanager

 #taskmanager:
   # image: ${FLINK_DOCKER_IMAGE_NAME:-flink}
   # networks: ["vnet"]
   # hostname: taskmanager-1.vnet
   # expose:
     # - "6121"
     # - "6122"
    #depends_on:
     # - jobmanager
    #command: taskmanager
    #links:
      #- "jobmanager:jobmanager"
      #- zookeeper-1:zk
     # #- trade-imdg:ti
    #environment:
      #- JOB_MANAGER_RPC_ADDRESS=jobmanager

 zookeeper-1:
  container_name: zookeeper-1
  image: dineshpillai/mu_zookeeper
  networks: ["vnet"]
  hostname: zookeeper-1.vnet
  restart: always
  ports:
    - 2181:2181
  environment:
    - SERVICE_2181_NAME=zookeeper
    - SERVICE_2888_IGNORE=true
    - SERVICE_3888_IGNORE=true

 #hbase:
  # image: oddpoet/hbase-local
  # hostname: hbase-1.vnet
  # networks: ["vnet"]
  # ports:
    # - "60000:60000"
    # - "60010:60010"
    # - "60020:60020"
    # - "60030:60030"
   #environment:
    #- ZK_HOSTS=zookeeper-1.vnet:2181
    #- MASTER_PORT=60000
    #- MASTER_INFO_PORT=60010
    #- REGIONSERVER_PORT=60020
    #- REGIONSERVER_INFO_PORT=60030
   #links:
    # - zookeeper-1


 kafka:
  image: dineshpillai/mu-kafka
  hostname: kafka
  networks: ["vnet"]
  ports:
    - "9092:9092"
  links:
    - zookeeper-1:zk
  environment:
   KAFKA_ADVERTISED_HOST_NAME: 178.62.124.180
   KAFKA_ADVERTISED_PORT: 9092
   KAFKA_ZOOKEEPER_CONNECT: zookeeper-1.vnet:2181

 hazelcast:
  build: .
  hostname: hazelcast
  networks: ["vnet"]
  ports:
   - "5701:5701"
  links:
    - zookeeper-1:zk
  environment:
    JAVA_OPTS: -Dhazelcast.config=hazelcast.xml

 trade-injector :
  image : dineshpillai/innovation-trade-injector:0.0.1-SNAPSHOT
  networks: ["vnet"]
  ports :
   - "8090:8090"
  links :
   - mongo
   - kafka
  environment:
   kafka.bootstrap-servers: 178.62.124.180:9092
   spring.data.mongodb.host: 10.34.212.240
   spring.hazelcast.client.config: mu1-client-config.xml
   spring.cloud.zookeeper.connectString: zookeeper-1.vnet:2181

 trade-imdg :
  image: dineshpillai/innovation-trade-imdg:0.0.1-SNAPSHOT
  hostname: trade-imdg.vnet
  networks: ["vnet"]
  ports :
    - "8092:8092"
    #- "5701:5701"
  links:
    - zookeeper-1:zk

 mongo:
  image : dineshpillai/mongo-db-repo
  ports :
   - "27017:27017"

 jet-cluster:
  image: dineshpillai/innovation-mu-streamers
  networks: ["vnet"]
  hostname: jet-cluster.vnet
  links :
   - zookeeper-1:zk
   - trade-imdg
   - hazelcast
  environment:
   hzJetClusterProfile: tradeStreamer=3,priceStreamer=0,positionStreamer=0
   kafka_url: 178.62.124.180:9092
   hzHost: localhost
   runs: 1000
   delay: 6000

 positionQueryService:
  image: dineshpillai/imcs-positionqueryservice:0.0.1-SNAPSHOT
  hostname: positionQueryService.vnet
  networks: ["vnet"]
  ports :
    - "8093:8093"
  links:
    - zookeeper-1:zk
    - trade-imdg
    - hazelcast

 priceQueryService:
   image: dineshpillai/mu-pricequery-service:0.0.1-SNAPSHOT
   hostname: priceQueryService.vnet
   networks: ["vnet"]
   ports :
     - "8095:8095"
   links:
     - zookeeper-1:zk
     - trade-imdg
     - hazelcast

 tradeQueryService:
  image: dineshpillai/imcs-tradequeryservice:0.0.1-SNAPSHOT
  hostname: tradeQueryService.vnet
  networks: ["vnet"]
  ports :
   - "8094:8094"
  links:
   - zookeeper-1:zk
   - trade-imdg
   - hazelcast

networks:
  vnet:
    external:
      name: vnet
